<button id="open-modal" class="action primary">Open Modal</button>
<button id="open-magento-login-modal" class="action primary">Open Magento Login Modal</button>
<button id="open-customer-login-modal" class="action primary">Open Customer Login Modal</button>


<div id="popup-modal-custom" style="display: none">
    <?php
    include ($block->getTemplateFile('Magenest_Modal::custom_login_form.phtml'));
    ?>
</div>

<script type="text/x-magento-init">
    {
        "#authenticationPopup": {
        "Magento_Ui/js/core/app": {
            "components": {
                "authenticationPopup": {
                    "component": "Magento_Customer/js/view/authentication-popup",
                        "children": {
                        "messages": {
                            "component": "Magento_Ui/js/view/messages",
                                "displayArea": "messages"
                        },
                        "captcha": {
                            "component": "Magento_Captcha/js/view/checkout/loginCaptcha",
                                "displayArea": "additional-login-form-fields",
                                "formId": "user_login",
                                "configSource": "checkout"
                        }
                    }
                }
            }
        }
    },
        "*": {
        "Magento_Ui/js/block-loader": "http://192.168.0.116/m217dev/pub/static/version1504338187/frontend/Magento/luma/en_US/images/loader-1.gif"
    }
    }
</script>
<!--Login form custom modal-->
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function($,modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Login form with custom Modal',
                buttons: [{
                    text: $.mage.__('Exit'),
                    class: 'action primary',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal-custom'));


            $('#open-modal').on('click', function () {
                $('#popup-modal-custom').modal('openModal');
            });
        }
    );
</script>

<!--Magento customer login popup modal-->
<script>
    require([
        'jquery',
        'Magento_Customer/js/model/authentication-popup'
    ], function ($, authenticationPopup) {
        $('#open-magento-login-modal').on('click', function (event) {
            authenticationPopup.showModal();
        });
    });
</script>

<!--Customer login form with popup modal-->
<script>
    require(['jquery','Magento_Ui/js/modal/modal'],
        function($, modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass: 'custom-block-customer-login',
                buttons: false,
            };

            $('#open-customer-login-modal').click(function(){
            var popup = modal(options, $('#customer-popup-modal'));
            $('#customer-popup-modal').modal('openModal');
        });
    }
    );
</script>